/* Comment out 1st line for this editor system no tag for css */
/* filePathName: editor_php/editor.css */
/* Uploaded: 15:10:41,  Sun 21 Nov 2021 */
/* LineNo: 146 */

 :root{
  --fontSize:10px;
  --lineHeight:4px; //0.03vw;
  --nLineHeight:0.6vw;
}

@font-face{
   font-family:sucr;
   src:url(f.ttf);	
   format('truetype');
}

 *{font:normal normal normal var(--fontSize)/var(--lineHeight) sucr;} 

html,body {
 position:fixed;
 width:100%;height:100%;
 user-select:none;
 margin:0%;
 padding:0%;
 overflow:hidden;
 -webkit-user-select:none;
}

#athsi{
  position:fixed;bottom:50px;left:45%;width:40%;
  border:1px solid #000;border-radius:8px;
  transform-origin:50% 50%;
  transform:rotate(35deg);
  color:yellow;text-align:center;
  background:black;padding:2px;
}

/* The Menu Button */
u{
  position:fixed;
  text-decoration:none;
  font-weight:bold;
  -webkit-user-select:none;
}

#rudo,#undo,#redo{
  position:fixed;
  top:0px;right:12px;
  color:red;
  font:bold 4rem '';
  padding:0px 17px 20px 17px;
  background:yellow;
  -webkit-user-select:none;
}

#redo{top:0px;right:88px;}

#rudo{
 visibility:hidden;
 right:0;
 background:#ff03;
 width:8rem;
 height:2rem;
}

#ru{
  display:inline-block;
  position:fixed;
  top:5px;
  right:5px;
  padding:2px;
  background:#ff0;
  font:bold 2rem/1.5rem '';
  border:1px solid #000;
  visibility:hidden;
}
#ru::after{content:'\00293c';}

/* The Choose File SubLayer */
#cf{visibility:hidden;padding:0;margin:0;}

#cfc{
  position:fixed;top:0;left:-2px;
  display:inline-block;
  height:calc(100% - 1.55rem);
  width:100%;
  overflow-y:scroll;
  overflow-x:hidden;
  background:#cff;
  -webkit-user-select:none;
  visibility:hidden;
}

#ds{
 border:1px solid #000;
 border-radius:8px;
 color:red;
 font:bold 1.3rem/1.8rem '';
}

#cfh{
 display:inline-block;
 position:fixed;
 top:-1px;left:-1px;
 height:1.85rem;
 width:100%;
 text-align:center;
 font:bold 1.3rem/2rem '';
 visibility:hidden;
 border:1px solid #000;
 background:yellow;
}

#cfx{
  position:fixed;
  top:0;left:0;
  color:red;
  font:bold 4.5rem/2rem '';
}

.cfb{
  width:100%;
  display:inline-block;
  line-height:2.3rem;
  padding:2rem;
}

.cfd{
  color:red;
  padding:0px;
  margin:0px;
  font:bold 1.5rem/1.2rem '';
}
.cfd::before{ 
font:normal 1rem/1.1rem '';
color:#000;
 content:'Touch un-numbered lines for directory of currently selected file\a';
}

.fcc{color:blue;}

#z{
  display:inline-block; position:relative;
  -webkit-user-select:none;
  top:0%; left:0px; width:1000px;
  padding:0; margin:0;
  color:blue; font:normal  8px/4px '';
  background:repeating-linear-gradient(180deg, #eee, #eee var(--lineHeight),
     #fff var(--lineHeight), #fff calc(var(--lineHeight)*2)); 
}
#z:after{
 display:inline-block;
 position:relative;
 bottom:290px;right:-30px;
 font:bold 1.5rem '';
 padding:10px;
 color:red;
 background:#fff;
 border:1px solid #000;
 content:' End of File!\0a
 Bottom of Document!\0a
 So Complicated Scrolling.\0a\0a
 At top Smudge Up only\0a
 At bottom Smudge Down only';
}

#highlight{
display:block;
position:fixed;
top:-50px;left:0;
width:100vw;height:var(--lineHeight);
background:#00f3;
}

#lch{
 display:block;
 position:fixed;
 top:-50px;left:0;
 width:100vw;height:var(--lineHeight);
 background:#0f03;
}

#ta{
  line-height:var(--lineHeight);
  position:fixed;
  top:0;
  left:0%;
  width:calc(100vw - 17px);
  height:100vh;
  padding: 0px 0px 0px 17px;
  border:none;
  background:transparent;
}

#goTo{
 display:none;
 position:fixed;
 top:-1px;left:-1px;
 border:1px solid #000;
 width:100%;height:5%; calc(var(--nLineHeight)*1.7);
 background:yellow;color:#000;
}

#gtc{
 position:relative;top:8px;left:-2px;
margin:0px;
 color:red;
  line-height:var(--nLineHeight);
 width:27px;
 font-size:80px;
}

#lonoff{
  position:fixed;
  top:5px;left:38px;
  line-height:var(--nLineHeight);
  width:11%;
  padding:1px 10px 1px 10px;
  background:orange;
  border:1px solid #000;
  border-radius:8px;
  text-align:center;
}

#lineClicked{
  position:fixed;
  top:9px;left:28%;
  padding:1px 15px 21px 15px;
  color:#000;
  overflow:visible;
  font:bold 22px/15px '';
}

#gtn{
 position:fixed;top:4px;right:125px;
 width:30px;height:24px;
 padding:1px;
 }
#gtn:focus {outline:none;}

#gtw{
 position:fixed;top:4px;right:62px;
 width:50px;height:24px;
 padding:1px;
}
#gtw:focus{outline:none;}

#search{
  position:fixed;
  top:0px;right:120px;
  -webkit-user-select:none;
  padding:0px 17px 20px 17px;
  color:red;
}

#nwb{
  position:fixed;
  top:5px;right:1px;
  line-height:var(--nLineHeight);
  border:1px solid #000;border-radius:8px;
  padding:1px 15px 1px 15px;
  background:orange;color:#000;
  text-align:center;
  -webkit-user-select:none;
}

#c{
 position:fixed;top:calc(48% - 90px);left:20%;
 width:180px;height:180px;
 border:1px solid #000;border-radius:30px;
 visibility:hidden;
}

 .hr{position:fixed; top:45vh;left:1px;width:150%;height:1px;
 background-color:#ddd;border:none;}
 #kbd{position:fixed;top:46vh;right:19px;color:#ddd;}
  .z{height:17px;}
  .zl{left:0;height:17px;line-height:17px}

#bMenu{
 position:fixed;bottom:0;left:0;
 width:100%;height:1.5rem;
 border-top:1px solid #000;
 color:blue;
 background:#cf3;
}

#copen{
 position:fixed;
 width:100%;
 bottom:0;left:0%;
 font:bold 1.4rem '';
 text-align:center;
 background:#f001;
 padding:30px 0 0 0;
}
#oopen{padding:30px 0 0 0;font:bold 1.4rem '';}
#ssave{padding:30px 0 0 0;font:bold 1.4rem '';}

#ssearch{
 position:fixed;
 bottom:0;right:0;
 font:bold 1.4rem '';
padding:30px 0 0 0;
}

#ViewSite{
 position:fixed;
 bottom:0;left:0.1rem;
 font:bold 1.4rem '';
 padding:30px 0 0 0;
}

#saved{
 position:fixed;
 top:35%;left:30%;
 font:bold 4rem '';
 background:#ff0;
 color:#f00;
 border:1px solid #000;
 border-radius:1rem;
 visibility:hidden;
}

